<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header class="header">

        <a href="#" class="logo"> HSPL </a>
    
        <nav class="navbar">
          <a href="index.html">Home</a>
          <a href="about.html">About</a>
          <a href="Howtoplay.html">How to play</a>
          <a href="Disclaimer.html">Disclaimer</a>
          <a href="PrivacyPolicy.html">Privacy Policy</a>
        </nav>
    
        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>
    </header>
    <h1>
        Vue Puzzle</h1>
      <div id="app">
        <h2>
          <template v-if="win">
                You win at
              </template> {{ move }} step{{ move > 1 ? "s" : "" }}
        </h2>
        <div id="puzzle" v-if="grids.length" :style="{ width:`${col*100}px`,height:`${col*100}px`}">
          <template v-for="(row,i) in grids">
                <Tile
                  v-for="(item,j) in row"
                  :tile="item"
                  :position="{x:i,y:j}"
                  :col="col"
                  :key="item.label"
                  @move="moveHandler(i,j)"
                ></Tile>
              </template>
        </div>
        <br />
        <button @click="col = 3">3x3</button>
        <button @click="col = 4">4x4</button>
        <button @click="init">Restart</button>
      </div>
      <script>
        Array.prototype.shuffle = function(array) {
  for (let i = this.length - 1; i > 0; i--) {
    let j = Math.floor(Math.random() * (i + 1));
    [this[i], this[j]] = [this[j], this[i]];
  }
};
const getTiles = function(total) {
  let tiles = [];
  while (tiles.length < total) {
    tiles.push(tiles.length + 1);
  }
  return tiles;
};
// https://www.cnblogs.com/weiyinfu/p/5911340.html
// 拼圖列數為奇數時，逆序列數和為偶數
// 拼圖列數為偶數時，逆序列數和奇偶與空行奇偶和守恆
const checkResolvable = function(ary, col) {
  let count = 0;
  let space = 0;
  ary = ary.filter((item, index) => {
    if (item === ary.length) space = index % col + 1;
    return item != ary.length;
  });
  ary.forEach((item, index, ary) => {
    let j = index + 1;
    while (j < ary.length) {
      if (item > ary[j]) count++;
      j++;
    }
  });
  return col % 2 ? count % 2 === 0 : count % 2 + space % 2 === 0;
  //       true => 基數
};
const getGrids = function(col) {
  let tiles = getTiles(col * col); // 一維陣列
  let resolvable = false;
  while (!resolvable) {
    tiles.shuffle();
    resolvable = checkResolvable(tiles, col);
  }
  let grids = [];
  while (grids.length < col) {
    let row = [];
    while (row.length < col) {
      row.push({
        label: tiles[grids.length * col + row.length]
      });
    }
    grids.push(row);
  }
  return grids;
};
Vue.component("Tile", {
  props: ["tile", "col", "position"],
  template: `
        <div
        	class="tile"
          :class="{space,ok}"
        	@click="clickHandler"
        >
        	{{ !space ? this.tile.label : "" }}
        </div>`,
  computed: {
    space() {
      return this.tile.label === this.col * this.col;
    },
    ok() {
      return (
        this.tile.label === this.position.x * this.col + this.position.y + 1
      );
    }
  },
  methods: {
    clickHandler() {
      if (!this.space) {
        this.$emit("move");
      }
    }
  }
});
new Vue({
  el: "#app",
  data: {
    col: 3,
    move: 0,
    grids: []
  },
  computed: {
    total() {
      return this.col * this.col;
    },
    win() {
      if (this.grids.length !== this.col) return false;
      for (let i = 0; i < this.col; i++) {
        for (let j = 0; j < this.col; j++) {
          if (this.grids[i][j].label != i * this.col + j + 1) {
            return false;
          }
        }
      }
      return true;
    }
  },
  methods: {
    init() {
      this.grids = getGrids(this.col);
      this.move = 0;
    },
    moveHandler(x, y) {
      let target = this.grids[x][y];
      let switchTarget = null; // space
      if (x - 1 >= 0 && this.grids[x - 1][y].label === this.total) {
        switchTarget = this.grids[x - 1][y];
      } else if (
        x + 1 < this.col &&
        this.grids[x + 1][y].label === this.total
      ) {
        switchTarget = this.grids[x + 1][y];
      } else if (y - 1 >= 0 && this.grids[x][y - 1].label === this.total) {
        switchTarget = this.grids[x][y - 1];
      } else if (
        y + 1 < this.col &&
        this.grids[x][y + 1].label === this.total
      ) {
        switchTarget = this.grids[x][y + 1];
      }
      if (switchTarget) {
        switchTarget.label = target.label;
        target.label = this.total;
        this.move++;
      }
    }
  },
  watch: {
    col: {
      immediate: true,
      handler() {
        this.init();
      }
    }
  }
});

      </script>
      <script src="main.js"></script>
</body>
</html>