<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/journal/bootstrap.min.css">
</head>

<body ng-app="quizApp" ng-controller="quizData">
    
<header class="nav-link">

    <a href="#" class="logo"> HSPL </a>

    <nav class="navbar">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">How to play</a>
        <a href="#">Disclaimer</a>
    </nav>

    <div class="icons">
        <div class="fas fa-bars" id="menu-btn"></div>
    </div>
</header>
    <div class="container" ng-show="inProgress">
      <div class="row" ng-show="!inRange">
        <div class="col-sm-12">
          <div class="alert alert-dismissible alert-danger"><strong>Your number is too high!</strong></div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <h1>I'm thinking of a number between 1 and {{limit}}</h1>
          <h2>You have five guesses</h2>
          <h2>Can you figure out what it is?</h2>
        </div>
        <div class="col-xs-4">
          <div class="panel panel-info" ng-show="!guessStart">
            <div class="panel-heading">
              <h3 class="panel-title">You can change the range here before you start!</h3>
            </div>
            <div class="panel-body">
              <input ng-model="limit"/>
            </div>
          </div>
        </div>
      </div>
      <div class="row guess panel panel-default" ng-show="possible">
        <div class="col-sm-6">
          <input ng-model="input" placeholder="Type your guess here!" type="number"/><br/><br/><a class="btn btn-primary" ng-click="answer()">Guess</a>
        </div>
        <div class="col-sm-6">
          <h3>Guesses: {{guess}}</h3>
          <ul>
            <li ng-repeat="guess in guesses">{{guess.text}}</li>
          </ul>
        </div>
        <div class="col-sm-12 hints">
          <h3>Hints</h3>
          <ol>
            <li ng-repeat="hint in hints">{{hint.text}}</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="row" ng-show="!possible">
      <div class="col-sm-12">
        <h2>Hey, you can't guess a number that doesn't exist! Make sure the range is more than 0!</h2>
      </div>
    </div>
    <div class="container results" ng-show="!inProgress">
      <div ng-show="rightAnswer">
        <h1>Congratulations, you guessed the number correctly!</h1>
        <h2><b>Answer: {{number}}</b></h2>
        <h3>You clearly kick a lot of ass! Or you got lucky. Either way, congrats!</h3>
      </div>
      <div ng-show="wrongAnswer">
        <h1>Sorry, you weren't able to guess the number!</h1>
        <h2><b>Answer: {{number}}</b></h2>
        <h3>No worries, you can always try again!</h3>
      </div><a class="btn btn-default btn-large replay" href="javascript:history.go(0)">Play Again</a>
    </div>
    <script>
        var quizApp = angular.module('quizApp', []);

quizApp.controller("quizData", ["$scope", function($scope) {
   $scope.limit = 100;
   
   addToGuesses = function(text){
      $scope.guesses.push({
         'text': text
      })
   };
   
   addToHints = function(text){
      $scope.hints.push({
         'text': text
      })
   };
   
   highLow = function(numbertwo) {
      if ($scope.number < numbertwo) {
         return 'too high!'
      } else {
         return 'too low!'
      }
   };
   
   var q = {
      1: function(number) {
            var x = 3,
            y = 7,
            divider = Math.floor(Math.random()*((y-x)+1) + x);
            if (number%divider == 0) {
               return 'Your number is divisible by ' + divider
            } else {
               return 'Your number isn\'t divisible by ' + divider
            }
         },
      2: function(number) {
            var x = Math.round(($scope.limit * .35)),
            y = Math.round(($scope.limit * .65)),
            multiply = Math.floor(Math.random()*((y-x)+1) + x);
            if (number > multiply) {
               return 'Your number is greater than ' + multiply
            } else {
               return 'Your number is less than or equal to ' + multiply
            }   
         },
      3: function(number) {
            if (number%2 == 0) {
               return 'Your number is even'
            } else {
               return 'Your number is odd'
            }   
         },
      4: function(number) {
         var range = Math.round(($scope.limit / 10)),
             reach = Math.floor((Math.random()*range)),
             lower = number - reach,
             higher = number + (range - reach);
         
            if (lower < 0) {
               higher -= lower;
               lower = 0;
            }
         
            if (higher > $scope.limit) {
               lower -= (higher - $scope.limit)
               higher = $scope.limit;
            }
         
            return 'Your number is between ' + lower + ' and ' + higher;
         }
   };
   
   $scope.number = Math.floor((Math.random()*$scope.limit) + 1);
   $scope.input = '';
   $scope.guess = 0;
   $scope.inProgress = true;
   $scope.inRange = true;
   $scope.rightAnswer = false;
   $scope.wrongAnswer = false;
   $scope.guesses = [];
   $scope.hints = [];
   $scope.guessStart = false;
   $scope.possible = true;
   
   $scope.$watch('limit', function(){
      $scope.number = Math.floor((Math.random()*$scope.limit) + 1);
      
      if ($scope.limit < 1) {
         $scope.possible = false;
      } else {
         $scope.possible = true;
      }
   });
   
   $scope.answer = function() {
      if ( angular.isNumber($scope.input) ) {
         if ($scope.input > $scope.limit) {
            $scope.inRange = false;
         } else {
            $scope.inRange = true;
            
            if ($scope.input == $scope.number) {
               $scope.inProgress = false;
               $scope.rightAnswer = true;
            } else {
               $scope.guess++;
               // Removed "too high or low" hints
               // addToGuesses($scope.input + ' (' + highLow($scope.input) + ')');
               addToGuesses($scope.input);
               
               if ($scope.guess == 1) {
                  $scope.guessStart = true;
                }
               
               for (i = 0; i < 5; i++) { 
                   if ($scope.guess == i) {
                     addToHints(q[i]($scope.number));
                   }
               }
               
               if ($scope.guess == 5) {
                  $scope.inProgress = false;
                  $scope.wrongAnswer = true;
               }
               
               $scope.input = '';
            }
         }
      }
   };
}]);
    </script>
    <script src="main.js"></script>
  </body>
</html>