html, body {
    overflow-x: hidden;
    overlow-y: hidden;
  }
  
  body {
    position: relative
  }
  
  #grid {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    margin-top: 100px;
  }
  
  .cell {
    line-height: 74px;
    height: 74px;
    text-align: center;
    font-size: 48px;
    margin: 3px;
    position: relative;
    border-style: solid;
    border-radius: 12px;
    border-width: 2px;
    border-color: black;
    background: linear-gradient(to bottom, #d5cea6 0%,#c9c190 40%,#b7ad70 100%);
    user-select: none;
  }
  
  .cell.blank {
    background: none;
    border-style: none;
    box-shadow: none;
  }
  
  .cell.hidden {
    visibility: hidden;
  }
  
  @keyframes slideright {
    from {left: 0px;}
    to {left: 80px;}
  }
  
  @keyframes slideleft {
    from {left: 0px;}
    to {left: -80px;}
  }
  
  @keyframes slideup {
    from {top: 0px;}
    to {top: -80px;}
  }
  
  @keyframes slidedown {
    from {top: 0px;}
    to {top: 80px;}
  }
  
  .cell.slideright {
    animation-name: slideright;
    animation-duration: 0.5s;
  }
  
  .cell.slideleft {
    animation-name: slideleft;
    animation-duration: 0.5s;
  }
  .cell.slideup {
    animation-name: slideup;
    animation-duration: 0.5s;
  }
  .cell.slidedown {
    animation-name: slidedown;
    animation-duration: 0.5s;
  }
  
  .cell.winner {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Emoji_Grinning_Face_Smiling_Eyes.svg/128px-Emoji_Grinning_Face_Smiling_Eyes.svg.png);
    background-size: contain;
  }
  
  #clock {
    font-family: monospace;
    font-size: 48px;
  }
  
  #clock.slow {
    color: red;
  }
  
  .button {
      background-color: chocolate;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 20px;
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#037c2c;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}





.btn:hover{
    background: var(--orange);
    color:#fff;
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background:gray;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:white;
}



.header .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color:white;
}

.header .navbar a:hover{
    color:var(--orange);
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    background: var(--orange);
    color:#fff;
}

#menu-btn{
    display: none;
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }
}


@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

   

    .header .navbar{
        position: absolute;
        top:110%; right:-110%;
        width:30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: gray;
    }

    .header .navbar.active{
        right:2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin:2rem 2.5rem;
        display: block;
    }

}


@media (max-width:450px){

    html{
        font-size: 50%;
    }

}