/****************
 * Main styles. *
 ****************/
 *,
 *::before,
 *::after,
 :root {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 html, body {
   height: 100%;
   width: 100%;
 }
 
 body {
   background: url(https://github.com/yagoestevez/ba-dum-tss/raw/master/src/assets/background.jpg) no-repeat fixed center;
   background-size: cover;
 }
 
 /**************
  * App Styles *
  **************/
 #drum-machine {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 
 #title {
   color: #fbdcff;
   font-size: 3rem;
   font-family: "New Rocker", cursive;
   text-shadow: 0px 5px 20px #240030;
   padding: 2rem;
   cursor: default;
 }
 
 footer {
   color: #fbdcff;
   padding: 1rem;
   display: none;
   font-family: "Amaranth", sans-serif;
 }
 
 a,
 a:visited {
   color: #fdbcff;
   text-decoration: none;
   transition: color 200ms;
 }
 a:hover,
 a:active {
   color: #fbdcff;
   text-decoration: none;
 }
 
 /******************
  * DrumKit Styles *
  ******************/
 #drumkit {
   max-width: 1200px;
   background: #b845c6;
   background: -moz-radial-gradient(
     center,
     ellipse cover,
     #b845c6 0%,
     transparent 100%
   );
   background: -webkit-radial-gradient(
     center,
     ellipse cover,
     #b845c6 0%,
     transparent 100%
   );
   background: radial-gradient(ellipse at center, #b845c6 0%, transparent 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b845c6', endColorstr='transparent',GradientType=1 );
   border: 1px solid #b845c6;
 }
 
 #text-display {
   text-anchor: middle;
   font-family: "New Rocker", cursive;
   font-size: 0.3rem;
   fill: #f187ff;
 }
 
 /***************
  * Pads Styles *
  ***************/
 text.key-text {
   font-size: 0.15rem;
   font-family: "New Rocker", cursive;
   fill: #d272df;
 }
 .pad {
   cursor: pointer;
 }
 .shape {
   fill: #beb74a;
 }
 
 .highlight {
   fill: #e7e5c3;
 }
 
 .stroke {
   fill: none;
   stroke: #6a1674;
   stroke-width: 0.5;
 }
 
 .inner-circle {
   fill: #1a1815;
 }
 
 .drum {
   fill: #fff2fb;
   stroke: #7d208a;
   stroke-width: 1;
 }
 
 .bass {
   fill: #6a1674;
   stroke: #fbdcff;
   stroke-width: 1;
 }
 
 .pedal {
   fill: #6a1674;
   stroke: none;
 }
 
 .sound {
   fill: #ffb100;
   stroke: #fff2fb;
   stroke-width: 1;
   opacity: 1;
   transition: all 100ms;
 }
 
 
 /**********************
  * FakeButtons Styles *
  **********************/
 #display,
 button {
   position: absolute;
   top: -9999px;
   left: -9999px;
 }

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#037c2c;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}





.btn:hover{
    background: var(--orange);
    color:#fff;
}

.nav-link{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background:gray;
    box-shadow: var(--box-shadow);
}

.nav-link .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:white;
}



.nav-link .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color:white;
}

.nav-link .navbar a:hover{
    color:var(--orange);
}

.nav-link .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.nav-link .icons div:hover{
    background: var(--orange);
    color:#fff;
}

#menu-btn{
    display: none;
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .nav-link{
        padding:2rem;
    }
}


@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

   

    .nav-link .navbar{
        position: absolute;
        top:110%; right:-110%;
        width:30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: gray;
    }

    .nav-link .navbar.active{
        right:2rem;
        transition: .4s linear;
    }

    .nav-link .navbar a{
        font-size: 2rem;
        margin:2rem 2.5rem;
        display: block;
    }

}


@media (max-width:450px){

    html{
        font-size: 50%;
    }

}