/* Variabes */
/* Mixin's */
body {
    background: #c1d72e;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #fff;
    height: 100%;
    text-align: center;
    font-size: 18px;
  }
  
  .wrappper {
    width: 100%;
    margin: 0 auto;
  }
  .wrappper:after {
    content: "";
    display: table;
    clear: both;
  }
  
  canvas {
    color: #fff;
    border: #fff dashed 2px;
    padding: 15px;
  }
  
  h1, h2, h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    margin: 5px 0;
  }
  
  h1 {
    font-size: 2.6em;
  }
  
  h2 {
    font-size: 1.6em;
  }
  
  p {
    font-size: 1.6em;
  }
  
  #alphabet {
    margin: 15px auto;
    padding: 0;
    max-width: 900px;
  }
  #alphabet:after {
    content: "";
    display: table;
    clear: both;
  }
  
  #alphabet li {
    float: left;
    margin: 0 10px 10px 0;
    list-style: none;
    width: 35px;
    height: 30px;
    padding-top: 10px;
    background: #fff;
    color: #c1d72e;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    border: solid 1px #fff;
  }
  #alphabet li:hover {
    background: #c1d72e;
    border: solid 1px #fff;
    color: #fff;
  }
  
  #my-word {
    margin: 0;
    display: block;
    padding: 0;
    display: block;
  }
  
  #my-word li {
    position: relative;
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0 10px;
    font-size: 1.6em;
  }
  
  .active {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -moz-transition: all 1s ease-in;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    cursor: default;
  }
  .active:hover {
    -moz-transition: all 1s ease-in;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    opacity: 0.4;
    filter: alpha(opacity=40);
    -moz-transition: all 1s ease-in;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
  }
  
  #mylives {
    font-size: 1.6em;
    text-align: center;
    display: block;
  }
  
  button {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    background: #c1d72e;
    color: #fff;
    border: solid 1px #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
  }
  button:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #fff;
    border: solid 1px #fff;
    color: #c1d72e;
  }
  
  @media (max-width: 767px) {
    #alphabet {
      padding: 0 0 0 15px;
    }
  }
  @media (max-width: 480px) {
    #alphabet {
      padding: 0 0 0 25px;
    }
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#037c2c;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}





.btn:hover{
    background: var(--orange);
    color:#fff;
}

.nav-link{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background:gray;
    box-shadow: var(--box-shadow);
}

.nav-link .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:white;
}



.nav-link .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color:white;
}

.nav-link .navbar a:hover{
    color:var(--orange);
}

.nav-link .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.nav-link .icons div:hover{
    background: var(--orange);
    color:#fff;
}

#menu-btn{
    display: none;
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .nav-link{
        padding:2rem;
    }
}


@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

   

    .nav-link .navbar{
        position: absolute;
        top:110%; right:-110%;
        width:30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: gray;
    }

    .nav-link .navbar.active{
        right:2rem;
        opacity: 1;
        transition: .4s linear;
    }

    .nav-link .navbar a{
        font-size: 2rem;
        margin:2rem 2.5rem;
        display: block;
    }

}


@media (max-width:450px){

    html{
        font-size: 50%;
    }

}

.wrapper
{
    margin-top: 70px;
}