<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puzzle</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
</head>
<body>
    
<!-- header section starts  -->

<header class="nav-link">


    <nav class="navbar">
       <a href="index.html">Home</a>
      <a href="about.html">About</a>
      <a href="PrivacyPolicy.html">Privacy Policy</a>
    </nav>

    <div class="icons">
        <div class="fas fa-bars" id="menu-btn"></div>
    </div>
</header>
<script>
    


let navbar = document.querySelector('.navbar');

document.querySelector('#menu-btn').onclick = () =>{
    navbar.classList.toggle('active');

}

window.onscroll = () =>{
    navbar.classList.remove('active');
}

var swiper = new Swiper(".product-slider", {
    loop:true,
    spaceBetween: 20,
    autoplay: {
        delay: 7500,
        disableOnInteraction: false,
    },
    centeredSlides: true,
    breakpoints: {
      0: {
        slidesPerView: 1,
      },
      768: {
        slidesPerView: 2,
      },
      1020: {
        slidesPerView: 3,
      },
    },
});

var swiper = new Swiper(".review-slider", {
    loop:true,
    spaceBetween: 20,
    autoplay: {
        delay: 7500,
        disableOnInteraction: false,
    },
    centeredSlides: true,
    breakpoints: {
      0: {
        slidesPerView: 1,
      },
      768: {
        slidesPerView: 2,
      },
      1020: {
        slidesPerView: 3,
      },
    },
});
</script>
    <div id="board">
        <form id="game-board" @click.prevent="handleClick" :aria-label="`${howManyCorrect} of ${ratioSquared} tiles correctly placed.`">
            <transition-group
                name="slide"
                id="innerBoard"
                tag="div"
                :style="{gridTemplateColumns: `repeat(${ratio}, 1fr)`, gridTemplateColumns: `repeat(${ratio}, 1fr)`}"
            >
                <button 
                    v-for="(square, index) in squares" 
                    :key="square.val" @keyup.prevent="handleArrow"
                    :index="index" :ref="!square.val && 'empty'" 
                    :class="`square ${square.val -1 == index ? 'correct' : ''} ${square.isPossibleMove ? 'possible-move' : ''}`" 
                    :aria-label="getAccessibleSquarePosition(square.val, index)"
                >
                    <span v-if="square.val">{{square.val}}</span>
                </button>
            </transition-group>
            
            <transition name="fade">
                <div v-if="!gameStarted" class="loader">
                    <p>
                        Randomizing solvable puzzle
                        <span class="dot">.</span><span class="dot">.</span><span class="dot">.</span>	
                    </p>
                </div>
            </transition>
        </form>
        
        <p>Play with <span role="img" aria-label="mouse">🖱️</span>, <span role="img" aria-label="touch">👆</span>, or <span role="img" aria-label="keyboard arrow keys">⌨️ ⬆️ ➡️ ⬇️ ⬅️</span></p>
        
        <form id="options">
            <div class="options-group">
                <input v-model="invertSwipe" type="checkbox" id="invert-swipe">
                <label for="invert-swipe">Invert swipe directions</label>
            </div>
            <button @click.prevent="randomizeBoard">Re-Shuffle</button>
        </form>
    </div>
        <script src="main.js"></script>
</body>
</html>